<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LolAccountManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LolAccountManager.Properties.Settings>
            <setting name="RunMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileAccounts" serializeAs="String">
                <value>accounts.json</value>
            </setting>
            <setting name="FileDebug" serializeAs="String">
                <value>debug_log.txt</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GridAccountHideLoginName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GridAccountHideSummonerNameName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddAccountShowLoginName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddAccountShowPassword" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddAccountRememberPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddAccountSavedPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ManageAccountHideLoginName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ManageAccountHidePassword" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ManageAccountHideSummonerName" serializeAs="String">
                <value>False</value>
            </setting>
        </LolAccountManager.Properties.Settings>
    </userSettings>
</configuration>